:root {
    --font: Helvetica ;
    --naranjo: #fe9b41; 
    --negro: #000000; 
    --titulos: 700 2rem/normal var(--font); 
    --subtitles: 500 1.25rem/normal var(--font); 
    --content: 400 1rem/normal var(--font); 
    --tituloproyectos: 700 1.5rem/normal var(--font); 
    --categoria: 700 2rem/normal var(--font); 
    --debug: border: 1px solid red;
}


body {
    margin: 0;
    font-family: var(--font);
}



.wrapper {
    width: 288px;
    margin: 0 auto;
    display: block;
}


/* Seccion HERO */

.hero {
    width: 288px;
    
    display: flex;
    flex-direction: column;
    
}

.hero figure {
    width: 288px;
    height: 300px;
    margin: 32px 0 0 0 ;
    background-color: var(--naranjo);
    border-radius: 36px;
}

.hero h1 {
    margin: 32px 0 0 0 ;
   
    font: var(--titulos);
}

.hero p {
    margin: 32px 0 32px 0 ;
}

.hero a {
    width: 30px;
    height: 34px;
    margin: 0 auto;

}

/*Categoria*/

h3 {
    font: var(--categoria);
    text-decoration: underline;
    margin: 32px 0 32px 0;
}

/*Proyecto*/

.proyecto {
    height: 550px;
    display: flex;
    flex-direction: column;
    
}

.proyecto h2 {
    margin: 16px 0 16px 0 ;
}

.proyecto figure {
    height: 220px;
    width: 288px;
    border-radius: 36px;
    margin: 16px 0 16px 0;
    
}

.proyecto figure img {
    height: 220px;
    width: 288px;
    
    box-shadow: 2px 2px 8px var(--negro);
}

.proyecto p {
    font: var(--content);
    margin: 16px 0 16px 0;
}

.proyecto a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 288px;
    border-radius: 36px;
    margin: 16px 0 0 0;
    background-color: var(--naranjo);
    font:  var(--subtitles);
    color: var(--negro);
    text-decoration: none;

}